/largest-gender-effect-sizes.txt
/AgeCorrplot data.xlsx
/Untitled-1
/Untitled-2
/all-gender-effects-roi.csv
/all-gender-effects-test.csv
/all-gender-effects.csv
/top100-corr.txt
/top5-corr.txt
/twenty-most-correlated-to-age.txt
